* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.playground {
    width: 300px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: aqua;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    width: 100px;
    height: 100px;
    background-color: aquamarine;
    border: 1px solid black;
    margin: 1px;
}

.box:hover {
    background-color: aqua;
}